body {
    margin: 0;
    background-color: black;
}

.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
}

p {
    color: #FFFF82;
}

#board {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 350%;
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;
}

#board:after {
    position: absolute;
    content: ' ';
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
}

#content {
    animation: scroll 100s linear 0s;
    position: absolute;
    top: 100%;
}

#title,
#subtitle {
    text-align: center;
}

@keyframes scroll {
    0% {
        top: 100%;
    }

    100% {
        top: -170%;
    }
}

#confirm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#confirm-content {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#confirm-no,
#confirm-yes {
    background-color: #FFFF82;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#confirm-no:hover,
#confirm-yes:hover {
    background-color: #FFD700;
}